/*
Project Name: Relaxr
Client: Cory 
Author: Tina Parija 
Developer @GA in SF 
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */

}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/* base styles */
body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
  font-weight: Light, Light Italic, Semibold, Extrabold;
}

header p{
  font-size:24px;
  font-weight:800;
  color:white;
  float:left;
}

nav{
  display:inline;
  font-size: 24px
  font-weight:600;
  color: #f9e42e
}

li{
  display:inline;
  float:right;
  margin-right: 25px
}

.titles{
  color:#033048;
  font-size: 30px;
  font-weight:600;
}

aside h2{
  color:#033048;
  font-size: 24px;
  font-weight:800;
  padding-bottom:20px;
}

hr{
  padding-left:50px;
}

.categories a{
  margin-top: 16px; 
}

article img{
  padding: 20px 0px 20px 0px;
}

footer p{
  color:#f9e42e;
  font-size: 30px;
  font-weight:900;
  padding-top: 20px;
  padding-bottom:40px;
}

#copyright{
  font-size: 15px;
  color:white;
  font-weight: 300;
  padding-top: 20px;
}

article p{
  padding-bottom:20px;
}

article a{
  float:right;
}
/* layout styles */

header{
  width:940px;
  height:150px;
  background-color: #033048; 
  padding:50px;
}

.content{
  width:700px;
  background-color: #f0efef; 
  height:1400px;
  float:left;
  padding:20px;
}

article{
  padding:30px;

}
.sidebar{
  width:240px;
  height:1400px;
  background-color: #f0efef; 
  float:left;
  padding:50px;
}

aside{
  height:300px;
}

section{
  width:940px;
  height:150px;
  background-color: #f9e42e; 
  float:left;
  text-align:center;
  padding-top:55px;
}

footer{
  width:940px;
  height:250px;
  background-color: #121212; 
  float:left;
  text-align:center;
}


/* additional styles */ 