/*
Project Name: Relaxr
Client: Cory 
Author: Tina Parija 
Developer @GA in SF 
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
     font-weight: Light, Light Italic, Semibold, Extrabold;
     width: 80%;
     margin: auto;
     text-align: center; 
}

.firstimage{
  background:url("../images/header.jpg"); 
}


header{
  height: 50px;
}

header p{
  float:left;
  padding-left: 50px;
  padding-top: 2px;
  color:white;
  font-weight:800;
  font-size:24px;
}

.landingpage{
  height:300px;
  text-align:center;
}

.landingpage p{
  color:white;
  margin-top:100px;
  font-size:24px;
  font-weight:600;
  margin-bottom:50px;
}

.landingpage a{
  font-size:14px;
  font-weight:800;
  height:10px;
  width:20px;
  border-radius:5px;
  background-color:#f9e42e;
}

.benefits{
  height:400px;
  color: #606161;
  background-color:#f0efef;
  font-size: 13px;
  font-weight:300; 
  text-align: left; 
  list-style:circle;
  padding:100px;

}

#benefits{
  font-size:20px;
  font-weight:600;
  text-align: left;
  padding-bottom: 25px;
  color:#033048;
}

ul{
  list-style-type: circle;
  padding-left: 25px;
  font-size: 13px;
  font-weight:300; 
}

.promoquote{
  background:url("../images/testimonial_bg.jpg"); 
  padding:100px;
  height:300px;
  color:white;
  font-style: italic;
  font-size: 18px
  font-weight:600;
}


.signup{
  height:75px;
  background-color:#f9e42e;
  padding:10px;
}

.signup a{
  font-size:12px;
  font-weight:800;
  height:10px;
  width:20px;
  background-color:#033048;
  color:white;
}

footer{
  height:200px;
  background-color:#121212;
  font-size: 24px;
}

footer p{
  padding-top:10px;
  color: #f9e42e;
  font-size: 24px;
  font-weight: 800;
}

#copyright{
  font-size:9px;
  color:white;
  font-weight: 300;
  padding-top:40px;
  padding-bottom:2px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
