	*{
		box-sizing:border-box;
		font-family: futura;
	}

	header{
		height:200px;
		width:100%;
		background:black;
		margin: 0px;
		float:left;
		border-bottom-color:yellow;
		border-bottom-width:3px;
		border-style:solid;
	}

	header h1{
		color:yellow;
		margin-left: 40px;
	}

	.bold{
		font-size: 24px;
		font-weight: 800;
	}

	nav{
		float:left;
		list-style-type: none;
		color: white;
		float:right;
		margin-top: 50px;
		margin-right:40px;
	}

	li{
			display: inline;
			margin-left: 20px;
	}

	section{
		height:75px;
		background:gray;
		width:100%;
		margin:0px;
		float:left;
		text-align: center;
	}

	section h3{
		font-size: 32px;
		font-weight: 600;
		font-style: italic;
		line-height: 10px;
	}

	summary{
		background:url(../images/coworking.jpg);
		background-size: cover;
		height:600px;
		width:100%;
		float:left;
	}

	#tina{
			text-align: center;
	}

	aside a{
	    background-color: yellow;
	    border: none;
	    color: black;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    opacity:1;
	    margin-top: 200px;

	}

	aside{
		padding:20px;
		height:450px;
		width:35%;
		float:right;
		margin-top: 50px;
		margin-right: 20px;
		background: white;
		opacity:.7;
	}

	.articlebox{
		background:white;

	}

	article {
		padding: 30px;
		height:450px;
		/*background: white;*/
		width:33.3%;
		float:left;
	}

	.vertical-line{
		border-left-width: 3px;
		border-left-style: dotted ;
		border-left-color: black;
	}

	article h3{
		font-size: 30px;
	}

	article p{
		font-size: 20px;
	}

	footer{
		height:75px;
		background:black;
		width:100%;
		float:left;
		clear:both;
	}

	@media screen and (max-width: 768px) {
		article {
			padding: 50px; 
				width: 100%;
				float: left;
		}
	}